/* Top info */
.top-info {
    background-color: #00796b;
}

.head {
    height: 50px;
    background-color: #00796b;
    padding: 10px;
}

.head a {
    text-decoration: none;
    padding-right: 30px;
    color: #fff;
}

.head a i {
    padding-right: 5px;
    font-size: 20px;
}

.head i {
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
   

}

.head i span {
    color: #fff;
}

#icon {
    height: 50px;
    background-color: #00796b;
    text-align: end;
    padding: 10px;

}

#icon a {
    text-decoration: none;
    padding-right: 20px;
    color: #fff;
}

#icon a i {
    font-size: 20px;
}

.icon-box {
    padding: 60px 30px;
    background: #008d7d;
    border-radius: 8px;
    text-align: center;

}

.icon-box i {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
}

.icon-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;

}

.icon-box h3 a {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}
/* top Nav */
.top-navbar {
    background-color: #008374;
}
.bg-light{
    background:#008374!important;

}
.navbar-nav{
    color: rgba(255, 255, 255, 0.6)!important;
    ;
}
.navcontent a {
    text-decoration: none;
    padding: 10px;

}

.navcontent a h1 {
    color: #fff;
    font-size: 30px;
}

.navcontent a h1 span {
    color: #f96f59;

}

.navicon ul {
    list-style: none;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 30px;
}

.navicon ul li a {
    text-decoration: none;
    color: #008374;
}
li.nav-item {
    margin-right: 17px;
}
.navbar-light .navbar-nav .nav-link {
       color: rgba(255, 255, 255, 0.6);
}
.navicon {
    position: relative;
}

.navicon li a ::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0px;
    background: #db7208;

}

/* Banner */
.banner {
    width: 100%;
    position: relative;
    background: #008374;
    padding: 60px 0 0 0;
    
}
.bright{
margin-top: 80px;
}
.bright h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 0;
    line-height: 1.2;
}
.bright p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: left;
}

.bn-image img{
    max-width: 100%;
}
/* .link{
    display: flex;
    justify-content: flex-start
} */
.link a {
    text-decoration: none;

}
.link a i{
    margin-left: 25px;
    color: #1ccbb0;
    font-size: 32px;
    vertical-align: middle;
}
.link a i::before {
    vertical-align: middle;
}

.link a button {
    border-radius: 50px;
    color: #fff;
    background-color: #008374;
    padding: 14px 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border: 2px solid rgba(255, 255, 255, 0.1);

}

.link i span {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;


}
/* banner icon */
.banner-icon{
    position: relative;
    bottom: 100px;
}
.icon-box{
    width: 100%;
    height: 250px;
}
.banner-info{
padding-bottom: 150px;
}

/* ABOUT */

.about-titel {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}

.about-titel h2 {
    position: relative;

}

.about-titel h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0px;
    background: #008374;

    left: 0;
    right: 0;
    margin: auto;

}

.about-titel h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.col-lg-6 h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.aright img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.aright p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 23px;
}

.aleft-text {
    padding-left: 3rem !important;
}

.aleft-text .per {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 20px;
}

.aleft-text ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.aleft-text ul li {
    padding: 0 0 10px 30px;
    position: relative;
    list-style: none;
}

.aleft-text ul li i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #008374;
}

.aleft-text p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 20px;
}

.image img {
    margin-top: 30px;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

.image {
    position: relative;
}

.image a {
    position: absolute;
    top: 50%;
    left: 46%;
    text-decoration: none;
    font-size: 50px;
    color: #007456;


}
/*  client-CONS */
.client-icon {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 40px 0;
    text-align: center;
}

.client-icon img {

    width: 90px;
}
.item-icon:hover{
    transform: scale(1.2);
}
.ha-client {
    padding: 32px;
}

.ha-left {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
}

.ha-left span {
    float: left;
    font-size: 40px;
    display: block;
    font-weight: 700;
    color: #007456;
    line-height: 40px;
    margin-right: 15px;
}

.ha-left p {
    margin: 14px;
    font-family: system-ui;
    font-size: 15px;
}

/* CALL ACTION */
.call-items {
    background-image: url("../images/cta-bg\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
    border-radius: 15px;
    overflow: hidden;
}

.call-items {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

.call-items i {
    position: absolute;
    font-size: 50px;
    top: 35px;
    left: 530px;
    color: #007456;

}

.call-items h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.call-items p {
    color: #fff;
    margin-bottom: 20px;
}

.call-items button {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 48px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    background: transparent;

}

.icofont-play-alt-1:hover {
    transform: scale(1.2);
}

.call-items button:hover {
    background: #007456;
    border: 2px solid #007456;
}


/*OUR SERVICE */

.services-header {
    margin-top: 60px;
    background-color: #f6f6f6;
}

.shead {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.shead h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0px;
    background: #008374;
    left: 0;
    right: 0;
    margin: auto;
    top: -50;
}

.shead h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.shead p {
    margin-bottom: 0;
    color: #6f6f6f;
}

.Ser-box {
    margin-bottom: 20px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.card-body {
    padding: 40px;
    background: #fff;
    height: 100%;
    border-radius: 9px;

}

.icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}

.icon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #eeeeee;
    border-radius: 50px;
    top: -6px;
    right: -24px;

}

 /* .icon:hover {
    background: #00796b; 
    cursor: pointer;
 } */


.icon i {
    color: #171616;
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}

.card-body h3 {
    color: #000000;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;
}

.card-body p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-body a {
    margin-top: 15px;
    display: inline-block;
    color: #008374;
    text-decoration: none;
}

/* Testimonials */

.htext h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    margin-top: 30px;

}

.htext p {
    text-align: center;
    margin-bottom: 50px;
    color: #6f6f6f;
    margin-top: 0;
}

.htext h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #00796b;
}

.review-card {
    min-height: 120px;
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
    position: relative;
    background: #fff;
    border-radius: 10px;
}

.review-card-title {
    position: relative;
    padding: 30px 15px 10px 130px;
    line-height: 24px;

}

.review-card-title img {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 100px;
    height: auto;
    border-radius: 50%;

}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 430px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #00796b;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.card-body {
    padding: 1rem 1.5rem;
}

.review-icon {
    color: #ffc107;
    ;
}

/* Portfolio  */
.port-header {
    text-align: center;
    padding-bottom: 60px;
    margin-top: 90px;
}

.port-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}

.port-header p {
    margin-bottom: 0;
    color: #6f6f6f;
    margin-top: 0;

}

.port-header h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #00796b;
}

.port-filter ul {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.port-filter ul li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.port-box {
    position: relative;
    left: 0px;
    top: 0px;
}

.port-card img{
    z-index: 1;
    max-width: 100%;
    height: auto;
    
}
.port-card:hover img{
    transform: scale(1.2);
}


.port-card {
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
}
.port-card img:hover{
    transform: scale(0.3s);

}
.card-body {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

.card-body h5 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
    font-family: var(--font-primary);
}

.card-body h5:hover {
    color: #008374;
    cursor: pointer;
}

.card-body p {
    color: #6c757d;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-right: 50px; */

}

/* Our Team */
.ourteam {
    margin-top: 60px;
    text-align: center;

}

.ourteam h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    line-height: 1.2;

}

.ourteam p {
    margin-bottom: 60px;
    color: #6f6f6f;
    margin-top: 0;

}

.team-card {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
}

.team-card img {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;

}

.card-team h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
}

.ourteam-header h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #00796b;
}

.card-team span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;
}

.social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
    text-decoration: none;
}

.social i {
    font-size: 18px;
    margin: 0 2px;
}

.social a:hover {
    color: #008374;
    border: #008374;
    
}

.port-card img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

/*Frequently */
.Frequently {
    padding: 60px 0;
    overflow: hidden;

}
.content-box {
    padding-right: 3rem;
    padding-left: 3rem;
}

.content-box h3 {
    font-weight: 400;
    font-size: 34px;
}

.content-box p {
    font-size: 17px;
    color: #6c757d;
    margin-top: 5px;
    line-height: 1.2;
}
.accordion-item{
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
}
.accordion-button{
    padding: 20px 50px 20px 20px;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-default);
    text-align: left;
    background: #fff;
    box-shadow: none;
}
.accordion-item h2 .accordion-button:focus{
    color: #008d7d;
}

.accordion-body{
    padding: 25px 89px 40px 31px;
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: none;
    line-height: 25px;
    font-size: large;
}
.accordion-button:not(collapse){
    color:#061310;
    border-bottom: 0;
    box-shadow: none;
}
.accordion-button span{
    padding-right: 10px;
    font-size: 20px;
    line-height: 0;
    color: #007456;
}

/* Recent Blog Posts */
.Recent-head {
    text-align: center;
    padding-bottom: 60px;

}

.Recent-head h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}

.Recent-head p {
    margin-bottom: 0;
    color: #6f6f6f;

}

.Recent-head h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #00796b;
}

.blog-box {
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.recent-image {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;

}

.recent-image img {
    max-width: 100%;
    height: auto;
}

.blog-box p {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
}

.blog-box h2 {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}
.blog-box a{
    color: #171616;
    text-decoration: none;
}

.blog-dwon {
    position: relative;
    padding: 20px 120px 11px 76px;
    line-height: 20px;
   
}

.blog-dwon img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 15px;

}

.blog-dwon p {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}
/* Contact */
.contact{
    margin-top: 60px;
}
.contact-head{
    text-align: center;
    padding-bottom: 60px;
}
.contact-head h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}
.contact-head h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #007456;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.contact-box{
    background: #fff;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
}
.contact-item{
    padding-left: 0px;
} 
.contact-head p{
    margin-bottom: 0;
    color: #6f6f6f;


}
.con-box{
    background-color: #008374;
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
   
}
.con-item{
    width: 100%;
    background-color: #009282;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    padding: 20px 35px 12px 75px;
    line-height: 20px;
}
.con-item i{
    position: absolute;
    font-size: 20px;
    color: #fff;
    width: 44px;
    top: 20px;
    left: 17px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    
}
.con-item i::before{
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 20px;

}
.con-item h2{
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px
}
.con-item p{
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.con-item .icofont:hover{
    color: #008d7d;
    background: #fff;
}
.con-item:hover i {
    color: green;
    background: #fff;
}

/* footer */
.footer{
    margin-top: 60px;
    background: #00796b;
}
.fot-head{
    margin-top: 30px;
}
.fot-head a{
    line-height: 0;
    margin-bottom: 25px;
    text-decoration: none;
}
.fot-head a span{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
}
.fot-head p{
    font-size: 16px;
    font-family: unset;
    margin-top: 15px;
    color: #fff;
}
.social-link{
    margin-top: 20px;
    display: flex;
}
.social-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
.social-link a:hover{
    color: #fff;
}
.fot-Useful{
    margin-top: 30px;
    margin-bottom: 30px;
}
.fot-Useful h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: #fff;
}
.fot-Useful ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.fot-Useful ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
    
}
.fot-Useful ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.fot-Useful a:hover{
    color: #fff;
    border: #fff;
}
.fot-contact{
    margin-top: 30px;
}
.fot-contact h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: #fff;
}
.fot-contact p{
    color: #fff;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.form-box{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 0 10px 10px 0;
}
.name head{
    padding-bottom: 8px;
}

.name-box{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 12px 15px;
}
.email-head{
    padding-bottom: 8px
}
.email-box{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 12px 15px;
}

.subject-head{
    padding-bottom: 8px;
}
.subject-box{
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.Message-head{
    padding-bottom: 8px
}
.message-box{
    padding: 10px 12px;
    height: 140px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.send-btn{
    text-align: center;
}
.send-btn button{
    background: #008d7d;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
/* <!-- COPYRIGHT --> */
.Copyright{
    background: #00796b;
    height: 100px;
}
.Copyright-head{
    text-align: center;
    margin-top: 25px;
    color: #fff;
}
.Designed{
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.Designed a{
    color: #fff;
    text-decoration: none;
}